doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
  block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.socket.io.js')
